<h1>受信トレイのメッセージ</h1>

<p>
  <%= link_to "メッセージを送る", new_message_path %>
</p>

<table>
  <thead>
    <tr>
      <th>送信者</th>
      <th>件名</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= link_to message.sender.email, message.sender %></td>
        <td><%= message.subject %></td>
        <td><%= link_to "開く", message %></td>
      </tr>
    <% end %>
  </tbody>
</table>
