<h1><%= t("edit_model", model: Citizen.model_name.human) %></h1>

<%= render "form", citizen: @citizen, url: @form_action_path %>

<%= link_to t("show"), @citizen %> |
<%= link_to t("back"), citizens_path %>
