<h1><%= t("edit_model", model: StockInvestment.model_name.human) %></h1>

<%= 
  render(
    "form", 
    stock_investment: @stock_investment, 
    url: [@stock_investment.investor, @stock_investment]
  )
%>

<%= link_to t("show"), [@stock_investment.investor, @stock_investment] %> |
<%= link_to t("back"), investor_stock_investments_path %>
