<%= form_with(url: url, method: "get", local: true, class: "clearable-form") do |form| %>
  <% model.searchable_columns.map(&:to_sym).each do |column| %>
    <div class="field">
      <%= form.label(model.human_attribute_name(column)) %>
      <%= form.text_field(column, value: search_params[column]) %>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit "検索" %>
    <button class="clear-form">リセット</button>
  </div>
<% end %>
